# Node
node_modules/
dist/
dist-ssr/
*.local

# Go
apps/cli/*.exe
apps/cli/p2p
apps/cli/p2p.exe

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.vscode/
.idea/
*.sw?

# Environment
.env
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docs
docs/roadmap.md
